<div class = "container">
  <nav>
    <ul>
      <li>Home</li>
      <li>Taco Menu</li>
      <li>Draft List</li>
      <li>Hours</li>
      <li>Directions</li>
      <li>Contact</li>
    </ul>
  </nav>
  <section>section 的样式确保了有足够的空间容纳nav元素</section>
  <section>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    In suscipit ullamcorper diam, nec suscipit diam vestibulum at.
    Vivamus dictum sagittis magna ut sollicitudin. Morbi mattis
    ex nec lobortis ullamcorper. Phasellus porttitor tincidunt sapien
    ac pharetra. In hac habitasse platea dictumst. Vestibulum sit amet
    sem sit amet urna placerat consequat. Nulla dignissim est et massa
    malesuada, nec sollicitudin eros aliquet. Praesent placerat ipsum
    nec augue sagittis, nec tristique enim sollicitudin. Integer at nisi porttitor, aliquet urna nec, vehicula tellus. Morbi eleifend laoreet ex, nec tempor eros lobortis non. Ut eu blandit justo, a ornare tellus. Phasellus elit nibh, aliquet nec tellus rhoncus, posuere blandit tortor. Suspendisse accumsan purus turpis, in luctus leo porttitor et.
  </section>
  <section>注意观察调整窗口时发生了什么。效果很赞
  </section>
</div>
